@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{

    /* color palette */
    --indigo: #4F46E5;
    --lilas: #A855F7;
    --blackFont: #333333;
    --whiteFont: #FAFAFA;
    --titleFont: #2D3047;

    /* font familys */
    --inter: "Inter";
    --playfair: "Playfair Display";
}

/* ======================================== CSS DE BASE ============================================ */


*{
    margin: 0;
    box-sizing: border-box;
    font-family: var(--inter);
    color: var(--blackFont);
    font-size: 16px;
    font-weight: 400;
    outline-color: var(--whiteFont) ;
}

ul{
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    padding: 10px;
    border-radius: 30px;
    color: var(--whiteFont);
    
    &:hover{
        transition: all 0.2s ease-in-out;
        background-color: var(--lilas);
        border-radius: 30px;
        
    }
} 

h1, h2, h3{
    font-family: var(--playfair);
}

h1{
    font-size: 60px;
    font-weight: 700;
    color: var(--whiteFont);
}

h2{
    font-size: 36px;
    font-weight: 700;
    color: var(--titleFont);
}

h3{
    font-size: 24px;
    font-weight: 600;
    color: var(--titleFont);
}

body{
    position: relative;
}

/* ======================================== CLASSES ============================================ */

.CTA{
    padding: 15px 20px;
    background-color: var(--indigo);
    color: var(--whiteFont); 
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
    &:hover{
        background-color: var(--lilas);
        border-radius: 15px;
    }
}


/* ======================================== HEADER ============================================ */


header{
    background-color:#4e46e586 ;
    backdrop-filter: blur(10px);
    box-shadow: 0px 1px 2px 0px #0000000D;
    position: fixed;
    width: 100%;
}

header div{
    display: flex;
    max-width: 1440px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 65px;
}

header nav ul{
    display: flex;
    gap: 30px;
}

#logo{
    font-size: 24px;
    font-weight: 700;
    font-family: var(--playfair);
    &:hover{
        background-color: #ffffff00;
        transform: scale(1.05);
    }
}

header a {
    font-weight: 500;
}


/* ======================================== FOOTER ============================================ */


footer{
    background-color: var(--titleFont);
    height: 180px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

footer>div{
    width: 100%;
}

footer div div{
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

footer p , footer h2, footer i{
        color: var(--whiteFont);
}

footer p{
    color: #D1D5DB;
    font-weight: 300;
}

footer .fa-brands{
    display: flex;
    justify-content: center;
}

footer span{
    display: flex;
    align-items: center;
    gap: 10px;
}

footer span i {
    font-size: 22px;
    background-color: var(--lilas);
    border-radius: 30px;
    padding: 10px 21px;
}