:root{

    /* color palette */
    --indigo: #4F46E5;
    --lilas: #A855F7;
    --blackFont: #1E1B2E;
    --whiteFont: #FAFAFA;

    /* font familys */
    --inter: "Inter";
    --playfair: "Playfair Display";
}

